.box {
  position: relative;
  width: 35%;
  height: auto;
  max-height: 70vh;
  margin: calc(100vh - 85vh - 20px) auto 0;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 2px solid #404040;
  overflow: auto;
  min-height: 195px;
  min-width: 600px;

  .Header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .Title {
      font-weight: bold;
      margin: 2px 0;
      padding: 2px;
    }

    .Close {
      cursor: pointer;
    }
  }

  .addInfo {
    display: flex;
    width: 100%;
    padding: 5px 0;

    label {
      width: 20%
    }

    input {
      width: 70%
    }
  }

  .SaveAndCancelButtons {
    padding: 10px 0 0 0;
    display: flex;
    justify-content: space-around;
    width: 100%;

    > * {
      width: 60px;
      height: 60px;
      background-color: white;
      cursor: pointer;
    }

    .SaveCharacter {
      color: lightgreen;
      padding-left: 30px
    }

    .CancelNewCharacter {
      color: lightcoral;
      padding-right: 30px;
    }
  }
}
