.CardPanel {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  grid-auto-rows: 280px;
  grid-gap: 10px;
  padding: 10px;
  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
}

.AddNew {
  width: 5%;
  height: 5%;
  background-color: white;
  color: lightskyblue;
  cursor: pointer;
  padding: 4px;
  margin: 3px;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}