//Dynamic Sizing for
$cardWidthS1: 45px;
$cardHeightS1: 70px;

$cardWidthS2: 90px;
$cardHeightS2: 140px;

$cardWidthS3: 135px;
$cardHeightS3: 210px;

$cardWidthS4: 180px;
$cardHeightS4: 280px;

$cardWidthS5: 225px;
$cardHeightS5: 350px;
